{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="container">
        <h2>Login</h2>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group">
                <label for="login-username">Username</label>
                <input type="text" class="form-control" id="login-username" value="{{ last_username }}"
                       aria-describedby="usernameHelp" name="username" placeholder="Username" required autofocus>
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password"
                       aria-describedby="passwordHelp" name="password" placeholder="Password" required>
            </div>
            <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </section>
{% endblock %}