
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/phpunit-dist.xml
###< symfony/phpunit-bridge ###
/nbproject/private/
/.env
/.idea
/.env.test
/RHProjext.iml
/symfony.lock
/composer.lock