body {
    height: calc(100vh - 65px);
    width: 100vw;
}

body > section {
    margin-top: 65px;
    height: calc(100vh - 101px);
}
section.home > .row {
    position: relative;
    top: 50px;
}

section.home img {
    margin-top: 50px;
}