{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<style>
    .body-wrapper { 
        margin: 1em auto; 
        max-width: 800px; 
        width: 95%; 
        font: 18px/1.5 sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    h1, h2 {
        text-align: center;
    }

    chat {
        padding: 10px;
    }

    chat-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    scenario{
        padding: 10px;
    }

    scenario-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    context{

    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>


<div>
    <h1>Page de jeu</h1>
    <div class="body-wrapper">
        <div class="chat">
            <h2>Chat</h2>
            <div> 
                <h4> Messages </h4>
            </div>
            <div class="chat-btn">
                <input type="text" placeholder="Tapez message ici " />
                <button id="send">BOUTON 1</button>
            </div>
        </div>
        
        <div class="scenario">
            <h2>Scénario</h2>
            <div id="scenario-context" class="context">
            toto
            </div>
            <div id="scenario-btn" class="scenario-btn">
            toto
            </div>
        </div>
    </div>
</div>

<script>
    var COMPAIGN = {
        "1": {
            "context": "Vous entrez dans une cave, que faites vous ?",
            "buttons": [
                {
                    "id": 1,
                    "text": "Je fouille",
                    "link": "1",
                },
                {
                    "id": 2,
                    "text": "Je sors",
                    "link": "2",
                },
                {
                    "id": 3,
                    "text": "Je fonce",
                    "link": "3",
                },
            ],
        },
        "2": {
            "context": "Vous trouvez le trésor, Bravo",
            "buttons": [
                {
                    "id": 4,
                    "text": "Je fuis",
                    "link": "5",
                },
                {
                    "id": 5,
                    "text": "Je l'ouvre",
                    "link": "6",
                },
            ],
        },
    };

    $(function() {
        $('#send').click(function() {
            $.ajax({
                url : "message.php" + premierID, // on passe l'id le plus récent au fichier de chargement
                type : "GET",
                data : {"pseudo": pseudo,"message": message},
                success : function(html){
                    $('#messages').prepend(html);
                }
            });    
        });  
    });

    function reload(){
        setTimeout(function(){
            var premierID = $('#messages p:first').attr('id'); // on récupère l'id le plus récent
            $.ajax({
                url : "reload.php?id=" + premierID, // on passe l'id le plus récent au fichier de chargement
                type : "GET",
                success : function(html){
                    $('#messages').prepend(html);
                }
            });
            reload();
        }, 1000);

    }

    function fill_context(id){
        var element = document.getElementById("scenario-context");
        element.innerHTML = "<p> " + COMPAIGN[id]["context"] + "</p>";
    }

    function fill_buttons(id){
        var element = document.getElementById("scenario-btn");
        console.log(element);
        var html = ""
        COMPAIGN[id]["buttons"].forEach(function(item){
            html = html + '<button id="'+ item["id"]+ '" onclick="fill_game_scenario(' + item["link"] + ')">' + item["text"] + '</button>';
        });
        console.log(html);
        element.innerHTML = html;
    }

    function fill_game_scenario(id){
        fill_context(id);
        fill_buttons(id);
        
    }

    //reload();
    fill_game_scenario("1");
</script>

{% endblock %}
