{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <div class="row myprofile">
        <div class="col-sm-2">
            <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar">
        </div>
        <div class="col-sm-10">
            <h1>{{ user.prenom }} {{ user.nom }}</h1>
            <ul class="nav nav-tabs" id="profile-tab" role="tablist">
                {% if user is defined and user.roles[1] is not defined %}
                <li class="nav-item">
                    <a class="nav-link {% if user is defined and user.roles[1] is not defined %}active{% endif %}" id="home-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="home" aria-selected="true">Compétences</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if user is defined and user.roles[1] is defined %}active{% endif %}" id="profile-tab" data-toggle="tab" href="#about" role="tab" aria-controls="profile" aria-selected="false">A propos</a>
                </li>
            </ul>
            <div class="tab-content" id="profile-tabcontent">
                <div class="tab-pane fade  {% if user is defined and user.roles[1] is not defined %}show active{% endif %}" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    {{ include('game/profile/user_stat.html.twig') }}
                </div>
                <div class="tab-pane fade  {% if user is defined and user.roles[1] is defined %}show active{% endif %}" id="about" role="tabpanel" aria-labelledby="about-tab">
                    {{ include('game/profile/user_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
