{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <h5>Avancement de l'application</h5>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Documentation
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>✔ Expression des besoins</li>
                            <li>✔ Cahier des charges technique</li>
                            <li>✔ Etat d'avancement</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Frameworks
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>✔ Mise en place symfony et dépendances.</li>
                            <li>✔ Mise en place de bootstrap et JQuery.</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Jeu
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>✔ Création d'un scénario</li>
                            <li>✔ Ajout d'autres campagnes de jeu</li>
                            <li>✘ Ajout d'illustrations sur le jeu</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 66%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Sécurisation
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>✔ Mise en place de symfony guard</li>
                            <li>✔ Certificat SSL</li>
                            <li>✘ Chiffrement des données</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 66%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Interface utilisateur
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>✔ Création du compte et connexion</li>
                            <li>✘ Interface de discussion multijoueur</li>
                            <li>✔ (re)Connexion au jeu</li>
                            <li>✔ Tableau de suivi de ses compétences</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Interface RH
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>✔ Visualisation des profils des utilisateurs inscrits</li>
                            <li>✘ Recherche sémantique (aggregée) dans les échanges des utilisateurs</li>
                            <li>✔ Arbre de compétences de l'utilisateur</li>
                            <li>✘ Recherche de compétences</li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
