{% extends 'base.html.twig' %}

{% block body %}

    <h5>Règles de l'application</h5>
    <ul class="list-group">
        <li class="list-group-item">
            Cette application à pour but premier de fournir un divertissement basé sur les façons de jouer du Jeu de Role sur table où différents joueurs se regroupent afin de vivre une aventure imaginée et narrée par un maître de jeu.
            Cette pratique ayant été importée sur support numérique, elle permet de faire abstraction du maître de jeu au dépend de la liberté de choix.
            Ainsi il sera proposé à l'utilisateur dans l'espace de jeu, plusieurs campagnes sur lesquelle
        </li>
        <li class="list-group-item">
            L'application RH Game Project est une propriété intellectuelle Barbus inc, sous licence WTFPL
        </li>
        <li class="list-group-item">
            La société Barbus inc se permet tout droits regardant les données issues de la page Profil d'un utilisateur, dont l'utilisation a fin de recherche profils de candidats dans le cadre de recrutements pour Barbus inc.
            Toute manipulation se fera par recherche d'agrégats de données permettant ainsi la préservation de la vie privée des utilisateur et la conformation de RH Project Game à la RGPD.
            Les données sur lesquelles les administrateurs et RH de Barbus inc auront des informations sont :
            <ul>
            <li>Un nombre d'occurence de groupes de caractere envoyés par un utilisateur dans la messsagerie instantanée</li>
            <li>Des temps de réponse à un questionnaire</li>
            <li>Des identifiants relatif a des compétences liées à des réponses choisies</li>
            <li>Un compratif entre les réponses choisie par un utilisateur et les réponses choisies par d'autres utilisateur</li>
            </ul>
        </li>
        <li class="list-group-item">
            Toute personne voulant voir son profil effacé pourra envoyer une demande aupres de contact@barbus.fr.
        </li>
    </ul>
{% endblock %}
