{% extends 'base.html.twig' %}

{% block title %}Nouvelle campagne{% endblock %}

{% block body %}
    <h1>Créer une nouvelle campagne</h1>

    {{ include('campagne/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('campagne_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>
{% endblock %}
