{% extends 'base.html.twig' %}

{% block title %}Nouvelle campagne{% endblock %}

{% block body %}
    <h1>Créer une nouvelle campagne</h1>

    {{ include('campagne/_form.html.twig') }}

    <a href="{{ path('campagne_index') }}">Retour à la liste</a>
{% endblock %}
